<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a026fe1-7e7a-4c9f-8437-82f6809629f7" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "8c4ac747-54a8-42f1-be3e-158a365526b6",
      "name": "Layout"
    },
    {
      "key": "62f7c5d7-34a2-4355-a38a-a2f6519246c5",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "2cef499c-1046-4dde-9610-d6cca81d0cd2",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "7b9c489c-d2dd-4fed-a091-6a109a05d7ca",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "b0494b54-c0c0-4d22-b6f2-543b5c1ed5ca",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "middle",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "9bceabde-6a13-42fb-ba16-e4b845dd23c0",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "7b9c489c-d2dd-4fed-a091-6a109a05d7ca",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "b0494b54-c0c0-4d22-b6f2-543b5c1ed5ca",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "de012bf9-4745-4ba3-aece-b3608aad53f1",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "7b9c489c-d2dd-4fed-a091-6a109a05d7ca",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "b0494b54-c0c0-4d22-b6f2-543b5c1ed5ca",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7bd94fb6-6244-46b5-b5ea-0fdaecf34c0e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8c4ac747-54a8-42f1-be3e-158a365526b6",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/BlockIcons/grid-3.png",
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7b9c489c-d2dd-4fed-a091-6a109a05d7ca",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "62f7c5d7-34a2-4355-a38a-a2f6519246c5",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": "~/App_Plugins/BlockIcons/text.png",
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b0494b54-c0c0-4d22-b6f2-543b5c1ed5ca",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "62f7c5d7-34a2-4355-a38a-a2f6519246c5",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": "~/App_Plugins/BlockIcons/icon-x3.png",
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>