<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b24bc06c-a75a-4220-bcbf-c1ebf273a4f7" Alias="[MultiUrlPicker] - Single URL Picker" Level="2">
  <Info>
    <Name>[MultiUrlPicker] - Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>