################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Freelancer.Shared/bin
/Freelancer.Shared/obj
/Freelancer.Shared/appsettings-schema*

/Freelancer.Core/bin
/Freelancer.Core/obj
/Freelancer.Core/appsettings-schema*

/Freelancer.Plugins/bin
/Freelancer.Plugins/obj