@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.RichText>>

<div class="container my-5">
    <div class="col-lg-8 mx-auto">
        @Model.Content.Text
    </div>
</div>