<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abc6b6fc-e1c8-4044-96a0-42577fb5ae01" Alias="[ColorPicker] - Brand Colours" Level="2">
  <Info>
    <Name>[ColorPicker] - Brand Colours</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"212529\",\"label\":\"Dark\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"1abc9c\",\"label\":\"Primary\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"2c3e50\",\"label\":\"Secondary\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"198754\",\"label\":\"Success\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"dc3545\",\"label\":\"Danger\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"ffc107\",\"label\":\"Warning\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"0dcaf0\",\"label\":\"Info\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"f8f9fa\",\"label\":\"Light\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>