<?xml version="1.0" encoding="utf-8"?>
<DataType Key="976a8afc-9202-44bd-9b7e-f6256d2f53e6" Alias="[MediaPicker] Icon Picker (SVG)" Level="2">
  <Info>
    <Name>[MediaPicker] Icon Picker (SVG)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>