<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bc01c1d-26c2-44c7-a7bd-e1fb8fe6ef53" Alias="[MultiUrlPicker] - Navigation Group Child Links" Level="2">
  <Info>
    <Name>[MultiUrlPicker] - Navigation Group Child Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>