<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcf8aff1-eed5-4bd2-8fcf-597316521176" Alias="[Toggle] Default True" Level="2">
  <Info>
    <Name>[Toggle] Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>