@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SearchPageContentModel>

@{
    Layout = "Main.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">@Model.Content.Name</h1>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-3 col-12 mx-auto">
            @await Component.InvokeAsync("SearchForm", Model?.SearchRequest)
        </div>
        <div class="col-lg-9 col-12 mx-auto">
            @await Component.InvokeAsync("SearchResults", Model?.SearchResponse)

            @await Component.InvokeAsync("Pagination", Model?.Pagination)
        </div>
    </div>
</div>