<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa1cee9b-5be3-460d-b60c-b782311630db" Alias="reusableContentRepository" Level="2">
  <Info>
    <Name>Reusable Content Repository</Name>
    <Icon>icon-files color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e9d4d552-33d8-46f5-9b8e-80de78714bf8" SortOrder="0">reusableContentItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>