<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4099484e-205e-4cd3-839e-6526b7b6dc35" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>magnifying-glass color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the search page for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2d0b1eee-e395-44d9-aa60-eafa36f65a38">sEOProperties</Composition>
      <Composition Key="88bcc673-469b-4149-9b48-6c02d6f5d208">taggingProperties</Composition>
      <Composition Key="dd398082-7a57-4cab-a41d-68ad57674614">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5e902da4-32d8-4b9e-aa77-8e049b8e24b2">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>