<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac578b15-1f62-4347-800f-6e2dd8f634ea" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="c5eb94ec-8af5-42f2-9d5c-9ee31ea5ce83">footerProperties</Composition>
      <Composition Key="023d582f-aea2-44b5-aad2-4914162a9055">mainNavigationProperties</Composition>
      <Composition Key="ee1a5af3-a4c2-457b-af73-267f3ca6212c">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b93215bd-61d1-4b6a-a4ff-78b584e5d003" SortOrder="0">pageTags</ContentType>
    <ContentType Key="aa1cee9b-5be3-460d-b60c-b782311630db" SortOrder="1">reusableContentRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>