<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88bcc673-469b-4149-9b48-6c02d6f5d208" Alias="taggingProperties" Level="2">
  <Info>
    <Name>Tagging Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e1b47588-c997-46d6-b731-dd857a7ec4f8</Key>
      <Name>Page Tags</Name>
      <Alias>pageTags</Alias>
      <Definition>49ac8b29-ac5d-463e-b442-268cb998513a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the tags for this page]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageSettings/tagging">Tagging</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cb3f10cf-fa16-49a8-972f-fd2ab6768132</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
    <Tab>
      <Key>edea2aea-5e3d-41cb-bfcf-f01b26f92168</Key>
      <Caption>Tagging</Caption>
      <Alias>pageSettings/tagging</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>