<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="772d5252-3a98-44a2-a366-ea8a4975efb1" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>house-chimney color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main home page for the website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3c4d9493-67a4-4d2e-bcfe-16a34339b46f">contentProperties</Composition>
      <Composition Key="fc2c4b44-5bdf-492a-98f4-42eb98bd29a7">headerProperties</Composition>
      <Composition Key="2d0b1eee-e395-44d9-aa60-eafa36f65a38">sEOProperties</Composition>
      <Composition Key="88bcc673-469b-4149-9b48-6c02d6f5d208">taggingProperties</Composition>
      <Composition Key="dd398082-7a57-4cab-a41d-68ad57674614">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="418b8242-536a-4297-bb74-1d25b8fa4663">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0fa34681-45eb-4633-9969-b2bd062d610a" SortOrder="0">contentPage</ContentType>
    <ContentType Key="4099484e-205e-4cd3-839e-6526b7b6dc35" SortOrder="1">searchPage</ContentType>
    <ContentType Key="ac578b15-1f62-4347-800f-6e2dd8f634ea" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>