<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b93215bd-61d1-4b6a-a4ff-78b584e5d003" Alias="pageTags" Level="2">
  <Info>
    <Name>Page Tags</Name>
    <Icon>icon-tags color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="501afe42-59eb-408c-b34c-bac3c47dc006">RedirectToParent</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="762f1f86-f61d-4dd8-b134-3514e13e92c3" SortOrder="0">pageTag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>